.navlinks a {
  color: #102851;
  text-decoration: none;
  font-family: Poppins;
font-weight: 500;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}


@media (max-width: 900px) {
  .navlinks {
    background: #102851;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 90vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 400ms ease;
  }

  .navlinks.active {
    transform: translateX(0);
  }

  .navlinks a {
    color: #fff;
  }
}
